* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  margin-bottom: 16px;
  line-height: 1.5;
  word-spacing: 3px;
}

h2 {
  margin-bottom: 24px;
}

:root {
  --lite-gray: #f0f1f4;
  --label-width: 120px;
  --sb-theme-color: #3080e8;
  --sb-conent-bg: #fcf9f8;
  --sb-corner-radius: 12px;
  --sb-padding: 16px;
  --sb-max-content-width: 1024px;
  --sb-border-color-thin: #f0f1f4;
  --sb-hero-bgc: #0891b2;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

footer.flex-col {
  margin-top: auto;
  color: white;
  padding: 8px;
  gap: 0;
  background-color: var(--sb-theme-color);
}

.flex-row {
  display: flex;
  gap: 25px;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.clickable:hover,
button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s ease;
}

button:focus-visible,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

button.sb-button {
  border-radius: var(--sb-corner-radius);
  color: white;
  background-color: var(--sb-theme-color);
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  border: none;
  white-space: nowrap;
}

button:active,
.clickable:active,
.clickable {
  filter: brightness(0.9);
  transform: scale(0.98);
}

.diagonal-bg {
  position: absolute;
  top: -60%;
  left: -90%;
  width: 200%;
  height: 100%;
  background-color: var(--sb-theme-color);
  transform: rotate(-30deg);
  z-index: -1;
}

.sb-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header {
  padding: 32px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.about-me-text h2 {
  text-align: center;
  font-size: 42px;
}

.about-me-text p {
  font-size: 24px;
}

.header-image-wrapper {
  position: relative;
  max-width: 400px;
}

.header-image {
  display: block;
  width: 100%;
  height: auto;
}

.header-image-placehold {
  display: none;
}

.header-img-text {
  position: absolute;
  bottom: 2%;
  left: 5%;
  color: white;
  font-size: 1.5rem;
  font-family: "Georgia", serif;
  font-weight: bold;
  line-height: 1;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.social-links {
  align-self: center;
}

.social-links svg {
  width: 30px;
  fill: var(--sb-theme-color);
}

main {
  max-width: var(--sb-max-content-width, 980px);
  margin: auto;
}
main h1 {
  margin-left: 20px;
}

footer {
  background-image: url("../assets/footer.webp");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 16px;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sb-theme-color);
  opacity: 0.4;
  pointer-events: none;
}
.footer-content {
  z-index: 1;
  padding: 32px;
}
footer div {
  z-index: 1;
}
.footer-image {
  background-image: url("../assets/footer.webp");
  height: 340px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.footer-contact {
  gap: 16px;
}
.contact a {
  color: white;
}
.contact svg {
  fill: white;
  width: 30px;
}
footer .social-links {
  align-self: flex-start;
}
footer .social-links svg {
  fill: white;
}
footer a {
  color: white !important;
}
/* TABLET */
@media screen and (min-width: 500px) {
  .diagonal-bg {
    top: -50%;
  }

  .header-image-wrapper {
    top: 20px;
    left: 20px;
    max-width: 400px;
    margin-right: 40px;
    margin-bottom: 20px;
    position: absolute;
  }

  .header-image-placehold {
    width: 400px;
    height: 320px;
    display: block;
    float: left;
    margin-right: -40px;
    margin-bottom: -40px;
    position: relative;
  }

  .header-image-wrapper img {
    max-width: 400px;
  }

  .header-img-text {
    font-size: 2rem;
  }

  .about-me-text {
    position: relatabive;
  }

  .about-me {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: block;
    margin: 60px 30px;
  }

  .social-links {
    display: none;
  }
}

/* DESKTOP */
@media screen and (min-width: 800px) {
  .header-image-wrapper {
    margin: 0;
    position: relative;
  }

  header.flex-col {
    flex-direction: row;
    gap: 0;
  }

  .header-image-wrapper img {
    width: 400px;
  }

  .about-me-text {
  }

  .about-me-text h2 {
    text-align: start;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .header-image-placehold {
    display: none;
  }

  .header-image-wrapper {
    margin: 0;
    top: 0;
    left: 10px;
    z-index: 2;
  }

  .diagonal-bg {
    top: -20%;
    left: -70%;
    transform: rotate(-10deg);
  }

  .social-links {
    align-self: flex-end;
    display: flex;
  }
}
